{% set url_previews = "img/modelos/jaguar-f-type-coupe/previews/" %}
{% set url_portfolio = "img/modelos/jaguar-f-type-coupe/" %}
<section class="instagram-1" style="padding: 0px; height: 0px; background-color: #fff; clear: both;"></section>
<section class="image-block">
	<div class="image-holder col-md-6 col-sm-12 pull-right">
		<div class="background-image-holder overlay-light-gradient-slider">
			<img alt="Slide Background" class="background-image" src="{{ _host }}{{ url_previews }}JAG_PREV_FTYPE_COUPE_1440x960.jpg">
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-7">
				<div class="text-block">
					<div class="detail-line"></div>
					<h5 class="">COUPÉ</h5>
					<h4 class="primaryHeader">F-TYPE</h4>
					<p>
						UN DEPORTIVO GENUINAMENTE JAGUAR
					</p>
					<p>
						El F-TYPE es potente, ágil y elegante: un auténtico deportivo Jaguar diseñado para ofrecer unas prestaciones soberbias y una respuesta instantánea; el último descendiente de un linaje excepcional.
					</p>
				</div>
			</div>
		</div><!--end of row-->
	</div><!--end of container-->
</section>
<section class="team-2">
	<!--end of row-->
	<div class="row">
		<div class="col-md-12">
			<h2 style="color: #000;">OTROS MODELOS</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-sm-6 team-member">
			<a class=" imageLink  TargetLinks" href="http://jaguar-mexico.com/mx/ftype/models/ftype-coupe-.php" target="_blank">
				<img alt="El F-TYPE es un purasangre Jaguar capaz de disparar sus pulsaciones." src="{{ _host }}{{ url_portfolio }}f-type/JAG_MOD_FTYPE_450x259.jpg?v=4" />
			</a>
			<h3>F-TYPE COUPÉ</h3>
			<p></p>
		</div>

		<div class="col-md-4 col-sm-6 team-member">
			<a class=" imageLink  TargetLinks" href="http://jaguar-mexico.com/mx/ftype/models/ftype-coupe-s.php" target="_blank">
				<img alt="Una conducción que seduce, un diseño cautivador y más potencia." src="{{ _host }}{{ url_portfolio }}f-type-s/JAG_MOD_FTYPE_S_450x259.jpg?v=4" />
			</a>
			<h3>F-TYPE COUPÉ S</h3>
			<p></p>
		</div>

		<div class="col-md-4 col-sm-6 team-member">
			<a class=" imageLink  TargetLinks" href="http://jaguar-mexico.com/mx/ftype/models/ftype-coupe-r.php" target="_blank">
				<img alt="El F-TYPE R es el coche deportivo definitivo." src="{{ _host }}{{ url_portfolio }}f-type-s-v8/JAG_MOD_FTYPE_S_V8_450x259.jpg?v=4" />
			</a>
			<h3>F-TYPE COUPÉ R</h3>
			<p></p>
		</div>
	</div><!--end of row-->
</section>
<section class="instagram-1" style="padding: 0px; height: 0px; background-color: #fff; clear: both;"></section>
<section class="dark-action" style="padding: 0px 0px 30px; height: auto;">
	{#<div class="container">#}
		<div class="row">
			<div class="col-md-3 text-center">
				<a class="primaryLinkWithStyle plwsTransparentLight TargetLinks col-md-12" style="display: inline-block; vertical-align: middle; font-size: 1.3em;" href="{{ _host }}vehiculos/f-type" >
					<span style="max-width: 100%; font-size: 0.9em; display: block; text-transform: uppercase; font-family: 'font_name_landrover_light';">
						<i class="fa fa-arrow-left"></i> 
					</span>
					REGRESAR
				</a>
			</div>
			<div class="col-md-3 text-center">
				<a class="primaryLinkWithStyle plwsTransparentLight TargetLinks col-md-12" style="display: inline-block; vertical-align: middle; font-size: 1.3em;" href="{{ _host }}files/f-type-coupe/FICHA_TECNICA_JAGUAR_F-TYPE_COUPE_2016.pdf"{# download="Ficha-Técnica-F-Type_Coupe.pdf"#} target="_blank">
					<span style="max-width: 100%; font-size: 0.9em; display: block; text-transform: uppercase; font-family: 'font_name_landrover_light';">
						Descarga
					</span>
					FICHA TECNICA
				</a>
			</div>
			<div class="col-md-3 text-center">
				<a class="primaryLinkWithStyle plwsTransparentLight TargetLinks col-md-12" style="display: inline-block; vertical-align: middle; font-size: 1.3em;" href="{{ _host }}agenda/prueba-de-manejo/f-type-coupe" id="go-schedule-test-drive-ftype-coupe" data-model-name="F-Type Coupé" data-model-key="f-type-coupé">
					<span style="max-width: 100%; font-size: 0.9em; display: block; text-transform: uppercase; font-family: 'font_name_landrover_light';">
						Agendar
					</span>
					PRUEBA DE MANEJO
				</a>
			</div>
			<div class="col-md-3 text-center">
				<a class="primaryLinkWithStyle plwsTransparentLight TargetLinks col-md-12" style="display: inline-block; vertical-align: middle; font-size: 1.3em;" href="{{ _host }}financiamiento/f-type-coupe" id="go-schedule-test-drive-ftype-coupe" data-model-name="F-Type Coupé" data-model-key="f-type-coupé">
					<span style="max-width: 100%; font-size: 0.9em; display: block; text-transform: uppercase; font-family: 'font_name_landrover_light';">
						Pide tu
					</span>
					COTIZACIÓN
				</a>
			</div>
		</div><!--end of row-->
	{#</div><!--end of container-->#}
</section>
