{% set url_holder_models = "img/holder_models/" %}
<section class="no-pad fullscreen-projects">
	<div class="project image-holder col-sm-3">
		<div class="background-image-holder">
			<img alt="Project Image" class="background-image" src="{{ _host }}{{ url_holder_models }}select_f_type_conv.png">
		</div>
		<div class="hover-state text-center">
			<span class="vertical-align">
				<div class="hover-content">
					<div class="detail-line"></div>
					<h5 class="primaryHeader text-white">F-TYPE CONVERTIBLE</h5>
					<a id="model_preview_ftype_convertible" href="{{ _host }}vehiculos/f-type/convertible" class="secondary left cur-hover" data-animate="">VER MODELOS</a>
				</div>
			</span>
		</div>
		<div class="static-state text-left">
			<div class="block clearfix">
				<div class="textPrimary">
					<span class="text-white text-center">F-TYPE CONVERTIBLE</span>
				</div>
				<div class="block-button">
					<a id="model_preview_ftype_convertible" href="{{ _host }}vehiculos/f-type/convertible" class="text-jaguar secondary left cur-hover" target="_blank" data-animate="">VER MODELOS</a>
				</div>
			</div>
		</div>
	</div><!--end of inidividual project-->
	<div class="project col-sm-6 image-holder">
		<div class="background-image-holder">
			<img alt="Project Image" class="background-image" src="{{ _host }}{{ url_holder_models }}select_f_type_coupe.png">
		</div>
		<div class="hover-state text-center">
			<span class="vertical-align">
				<div class="hover-content">
					<div class="detail-line"></div>
					<h5 class="primaryHeader text-white">F-TYPE COUPÉ</h5>
					<a id="model_preview_ftype_coupe" href="{{ _host }}vehiculos/f-type/coupe" class="secondary left cur-hover" data-animate="">VER MODELOS</a>
				</div>
			</span>
		</div>
		<div class="static-state text-left">
			<div class="block clearfix">
				<div class="textPrimary">
					<span class="text-white text-center">F-TYPE COUPÉ</span>
				</div>
				<div class="block-button">
					<a id="model_preview_ftype_coupe" href="{{ _host }}vehiculos/f-type/coupe" class="text-jaguar secondary left cur-hover" target="_blank" data-animate="">VER MODELOS</a>
				</div>
			</div>
		</div>
	</div><!--end of inidividual project-->
</section>