{% extends "super.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block content_current %}
	<div style="padding-top: 97px; background-color: #e1dfdf;"></div>
	{# Utiity Bar #}
	<div class="utility-bar">
		<div class="container">
	    	<div class="row">
	        	<div class="col-md-12 col-sm-12 col-xs-12">
	                <ol class="breadcrumb">
	                    <li><a href="{{ _host }}" id="return_index"><i class="fa fa-home"></i> Inicio</a></li>
	                    <li class=""><a href="{{ _host}}news" id="back-news">Noticias</a></li>
	                    <li class="active">Jaguar Land Rover</li>
	                    <li class="active">Gira Nacional Sibarita 2016.</li>
	                </ol>
	        	</div>
	            <div class="col-md-4 col-sm-6 col-xs-4">
	            </div>
	        </div>
	  	</div>
	</div>
	{# Start Body Content #}
    <div class="main" role="main">
        <div id="content" class="content full">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 single-post">
                        <header class="single-post-header clearfix">
                            <div class="post-actions">
                                <div class="post-date">30 de Julio de 2016</div>
                                <div class="comment-count"><a href="{{ _host }}news" id="back-news"><i class="fa fa-chevron-left"></i> Regresar</a></div>
                            </div>
                            <h2 class="post-title">Gira Nacional Sibarita 2016.</h2>
                        </header>
                        <article class="post-content">
                            <h3 class="post-subtitle" style="margin-bottom: 35px;">
                                RSVP: <a href="mailto:contacto@21Chefs.com.mx?subject=Sibarita Masters" "contactanos" style="color: #000;">contacto@21Chefs.com.mx</a>, <br>
                                Llamanos: <a href="tel:+3338187540" style="color: #000;">(33) 3818 7540</a>.
                            </h3>
                            <div class="featured-image">
                                <a>
                                    <img src="{{ _host }}img/promo/invitacion-Sibarita-650x1188px.png" alt="..." class="post-img">
                                </a>
                            </div>
                        </article>
                        {#<div class="tab_content_agencies animation-fadeIn">
                            <section class="" style="padding: 35px 15px 15px;">
                                <div class="row">

                                    <div class="col-md-4 col-sm-4 text-center">
                                        <h5 style="color: #000; text-transform: uppercase;"><span style="color:#7a7a7a;">LAND ROVER GUADALAJARA</span></h5>
                                        <img src="../resources/public/img/agencies/logos/logo_jaguar_land_rover.png" alt="LANDOR ROVER" class="x-img x-img-none none agn_logo">
                                    </div>
                                    <div class="col-md-8 col-sm-8 text-center" style="font-size: 16px; padding: 20px 5px 0px;">
                                        <a href="http://landrovergdl.com.mx/" class="button py4 button-transparent bg-youtube resp-button" target="_blank">
                                            <i class="fa fa-globe fa-fw fa-lg"></i> SITIO WEB
                                        </a>
                                        <a href="https://www.facebook.com/LandroverGDL" class="button py4 button-transparent bg-facebook resp-button" target="_blank">
                                            <i class="fa fa-facebook fa-fw fa-lg"></i> FACEBOOK
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>#}

                    </div>
                    {# Start Sidebar #}
                    <div class="col-md-3 sidebar">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block load_scripts %}
	jagBlog._init();
{% endblock %}