{% set url_previews = "img/modelos/jaguar-xj/previews/" %}
{% set url_holder_models = "img/holder_models/" %}
{% set url_portfolio = "img/modelos/jaguar-xj/" %}
<section class="instagram-1" style="padding: 0px; height: 0px; background-color: #fff; clear: both;"></section>
<section class="image-block">
	<div class="image-holder col-md-6 col-sm-12 pull-right">
		<div class="background-image-holder overlay-light-gradient-slider">
			<img alt="Slide Background" class="background-image" src="{{ _host }}{{ url_previews }}JAG_PREV_XJ_1440x960.jpg">
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-7">
				<div class="text-block">
					<div class="detail-line"></div>
					<h5 class="">JAGUAR</h5>
					<h4 class="primaryHeader">XJ</h4>
					<p>
						El XJ es la esencia de Jaguar. Con su resistente y ligera carrocería de aluminio, el XJ ofrece una agilidad y una conducción insuperables. La tecnología innovadora del XJ le permite reaccionar ante las condiciones de la carretera y otros vehículos. Y gracias a su espacioso interior, también es un vehículo que mima a sus pasajeros y despierta los sentidos.
					</p>
				</div>
			</div>
		</div><!--end of row-->
	</div><!--end of container-->
</section>
<section class="team-2">
	<!--end of row-->
	<div class="row">
		<div class="col-md-12">
			<h2 style="color: #000;">OTROS MODELOS</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-sm-6 team-member">
			<a class=" imageLink  TargetLinks" href="http://jaguar-mexico.com/mx/xj/models/premium_luxury.php" target="_blank">
				<img alt="Impresionante diseño, lujo contemporáneo y tecnología vanguardista." src="{{ _host }}{{ url_portfolio }}xj-premium-luxury/JAG_MOD_XJ_PREMIUM_LUXURY_450x259.jpg?v=4" />
			</a>
			<h3>XJ PREMIUM LUXURY</h3>
			<p></p>
		</div>

		<div class="col-md-4 col-sm-6 team-member">
			<a class=" imageLink  TargetLinks" href="http://jaguar-mexico.com/mx/xj/models/portfolio.php" target="_blank">
				<img alt="Altas prestaciones y mayor personalización." src="{{ _host }}{{ url_portfolio }}xj-portfolio/JAG_MOD_XJ_PORTFOLIO_450x259.jpg?v=4" />
			</a>
			<h3>XJ PORTFOLIO</h3>
			<p></p>
		</div>

		<div class="col-md-4 col-sm-6 team-member">
			<a class=" imageLink  TargetLinks" href="http://jaguar-mexico.com/mx/xj/models/portfolio_lwb.php" target="_blank">
				<img alt="Una afirmación impresionante de potencia y exclusividad." src="{{ _host }}{{ url_portfolio }}xj-portfolio-lwb/JAG_MOD_XJ_PORTFOLIO_LWB_450x259.jpg?v=4" />
			</a>
			<h3>XJ PORTFOLIO LWB</h3>
			<p></p>
		</div>
	</div><!--end of row-->
</section>
<section class="instagram-1" style="padding: 0px; height: 0px; background-color: #fff; clear: both;"></section>
<section class="dark-action" style="padding: 0px 0px 30px; height: auto;">
	{#<div class="container">#}
		<div class="row">
			<div class="col-md-4 text-center">
				<a class="primaryLinkWithStyle plwsTransparentLight TargetLinks col-md-12" style="display: inline-block; vertical-align: middle; font-size: 1.3em;" href="{{ _host }}files/jaguar-xj/especificaciones_jaguar_xj.pdf"{# download="Ficha-Técnica-xj.pdf"#} target="_blank">
					<span style="max-width: 100%; font-size: 0.9em; display: block; text-transform: uppercase; font-family: 'font_name_landrover_light';">
						Descarga
					</span>
					FICHA TECNICA
				</a>
			</div>
			<div class="col-md-4 text-center">
				<a class="primaryLinkWithStyle plwsTransparentLight TargetLinks col-md-12" style="display: inline-block; vertical-align: middle; font-size: 1.3em;" id="go-schedule-test-drive-xj" href="{{ _host }}agenda/prueba-de-manejo/xj" data-model-name="XJ" data-model-key="xj">
					<span style="max-width: 100%; font-size: 0.9em; display: block; text-transform: uppercase; font-family: 'font_name_landrover_light';">
						Agendar
					</span>
					PRUEBA DE MANEJO
				</a>
			</div>
			<div class="col-md-4 text-center">
				<a class="primaryLinkWithStyle plwsTransparentLight TargetLinks col-md-12" style="display: inline-block; vertical-align: middle; font-size: 1.3em;" href="{{ _host }}financiamiento/xj" id="go-schedule-test-drive-ftype-coupe" data-model-name="F-Type Coupé" data-model-key="f-type-coupé">
					<span style="max-width: 100%; font-size: 0.9em; display: block; text-transform: uppercase; font-family: 'font_name_landrover_light';">
						Pide tu
					</span>
					COTIZACIÓN
				</a>
			</div>
		</div><!--end of row-->
	{#</div><!--end of container-->#}
</section>