<div style="padding-top: 97px; background-color: #e1dfdf;"></div>
{# Utiity Bar #}
<div class="utility-bar">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12 col-sm-12 col-xs-12">
                <ol class="breadcrumb">
                    <li><a id="return_index"><i class="fa fa-home"></i> Inicio</a></li>
                    <li class="">Noticias</li>
                </ol>
        	</div>
        </div>
  	</div>
</div>
<!-- Start Body Content -->
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <ul class="grid-holder col-3 posts-grid">
                <li class="grid-item post format-standard">
                    <div class="grid-item-inner">
                        <a href="{{ _host }}news/jaguar/compra-inteligente" id="go-news-jag-compra-inteligente" class="media-box"><img src="{{ _host }}img/promo/finanicamiento-compra-inteligente.jpg" alt="Plan de Financiamiento Compra Inteligente." class="post-img"></a>
                        <div class="grid-content">
                            <div class="post-actions">
                                <div class="post-date">14 de Julio de 2017</div>
                            </div>
                            <h3 class="post-title"><a href="{{ _host }}jaguar/compra-inteligente" id="go-news-jag-compra-inteligente">Plan de Financiamiento Compra Inteligente</a></h3>
                            <p>Finalmente el Jaguar que siempre has querido puede ser tuyo con el nuevo plan de financiamiento compra inteligente.... <a href="{{ _host }}news/jaguar/compra-inteligente" id="go-news-jag-compra-inteligente" class="continue-reading">Ver Más <i class="fa fa-long-arrow-right fa-fw fa-lg"></i></a></p>
                        </div>
                    </div>
                </li>
                <li class="grid-item post format-standard">
                    <div class="grid-item-inner">
                        <a href="{{ _host }}news/jaguar/track-day" id="go-news-jag-track-day" class="media-box"><img src="{{ _host }}img/promo/invitacion-track-day-600x400px.png" alt="Tack Day" class="post-img"></a>
                        <div class="grid-content">
                            <div class="post-actions">
                                <div class="post-date">10 de Marzo de 2017</div>
                            </div>
                            <h3 class="post-title"><a href="{{ _host }}news/jaguar/track-day" id="go-news-jag-track-day">TRACK DAY</a></h3>
                            <p>Nos place el invitarlo a formar parte de un evento sin precedentes en GDL. Este próximo 23 de Marzo donde tú eres el piloto y podrás sentir la adrenalina de manejar en la pista del Autódromo Guadalajara... <a href="{{ _host }}news/jaguar/track-day" id="go-news-jag-track-day" class="continue-reading">Ver Más <i class="fa fa-long-arrow-right fa-fw fa-lg"></i></a></p>
                        </div>
                    </div>
                </li>
                <li class="grid-item post format-standard">
                    <div class="grid-item-inner">
                        <a href="{{ _host }}news/jaguar-land-rover/sibarita-masters" id="go-news-jag-ldr-sibarita-masters" class="media-box"><img src="{{ _host }}img/promo/invitacion-Sibarita-600x400px.png" alt="SIBARITA MASTERS" class="post-img"></a>
                        <div class="grid-content">
                            <div class="post-actions">
                                <div class="post-date">30 de Junio de 2016</div>
                            </div>
                            <h3 class="post-title"><a href="{{ _host }}news/jaguar-land-rover/sibarita-masters" id="go-news-jag-ldr-sibarita-masters">GIRA NACIONAL SIBARITA 2016</a></h3>
                            <p>Conoce su trayectoria e historia y deja que tus sentidos vivan los Talleres: Wine Genius, Taste & Say Cheese, British Spirit. Jueves 11 de Agosto, a las 19:30 hrs... <a href="{{ _host }}news/jaguar-land-rover/sibarita-masters" id="go-news-jag-ldr-sibarita-masters" class="continue-reading">Ver Más <i class="fa fa-long-arrow-right fa-fw fa-lg"></i></a></p>
                        </div>
                    </div>
                </li>
                <li class="grid-item post format-standard">
                    <div class="grid-item-inner">
                        <a href="{{ _host }}news/jaguar/night-experience" id="go-news-jag-ldr-jaguar-fpace" class="media-box"><img src="{{ _host }}img/promo/noticia-jaguar-night-experience.jpg" alt="JAGUAR NIGHT EXPERIENCE" class="post-img"></a>
                        <div class="grid-content">
                            <div class="post-actions">
                                <div class="post-date">Martes 28 de Junio de 2016</div>
                            </div>
                            <h3 class="post-title"><a id="go-news-jag-ldr-jaguar-fpace">JAGUAR NIGHT EXPERIENCE</a></h3>
                            <p>Noche de gala en la agencia de Jaguar Guadalajara, donde la F-Pace despertó suspiros de propios y extraños, un ambiente ameno y cálido entre amigos... <a href="{{ _host }}jaguar/night-experience"  id="go-news-jag-ldr-jaguar-fpace" class="continue-reading">Ver Más <i class="fa fa-long-arrow-right fa-fw fa-lg"></i></a></p>
                        </div>
                    </div>
                </li>
                {#
                <li class="grid-item post format-standard">
                    <div class="grid-item-inner">
                        <a href="{{ _host }}news/jaguar-land-rover/servicio-jaguar-land-rover" id="go-news-jag-ldr-service-best-gift" class="media-box cur-hover"><img src="{{ _host }}img/promo/promocion-servicio-junio-600x400.jpg" alt=". . ." class="post-img"></a>
                        <div class="grid-content">
                            <div class="post-actions">
                                <div class="post-date">7 de Junio de 2016</div>
                            </div>
                            <h3 class="post-title"><a id="go-news-jag-ldr-service-best-gift" class="cur-hover">PAPÁ MERECE EL MEJOR REGALO...</a></h3>
                            <p>Agende el servicio para su vehículo durante el mes de junio. Y recibirá como obsequio, la exclusiva pashmina edición especial... <a href="{{ _host }}jaguar-land-rover/servicio-jaguar-land-rover" id="go-news-jag-ldr-service-best-gift" class="continue-reading">Ver Más <i class="fa fa-long-arrow-right fa-fw fa-lg"></i></a></p>
                        </div>
                    </div>
                </li>
                <li class="grid-item post format-standard">
                    <div class="grid-item-inner">
                        <a id="go-news-jag-ldr-jaguar-xe" class="media-box"><img src="{{ _host }}img/promo/jaguarXE-600x400.jpg" alt="CONQUISTA LOS CAMINOS" class="post-img"></a>
                        <div class="grid-content">
                            <div class="post-actions">
                                <div class="post-date">12 de Mayo de 2016</div>
                            </div>
                            <h3 class="post-title"><a id="go-news-jag-ldr-jaguar-xe">Conquista los caminos</a></h3>
                            <p>Nuevo Jaguar XE ... El Sedan Deportivo Redefinido... <a id="go-news-jag-ldr-jaguar-xe" class="continue-reading">Ver Más <i class="fa fa-long-arrow-right fa-fw fa-lg"></i></a></p>
                        </div>
                    </div>
                </li>
                #}                
                {#
                <li class="grid-item post format-standard">
                    <div class="grid-item-inner">
                        <a href="{{ _host }}news/jaguar-land-rover/save-the-date" id="go-news-jag-ldr-sibarita" class="media-box"><img src="{{ _host }}img/promo/sibarita_600x400.jpg" alt="Gira NAcional Sibarita" class="post-img"></a>
                        <div class="grid-content">
                            <div class="post-actions">
                                <div class="post-date">05 de Noviembre de 2015</div>
                            </div>
                            <h3 class="post-title"><a id="go-news-jag-ldr-sibarita">GIRA NACIONAL SIBARITA</a></h3>
                            <p>Club 21Chefs y Jaguar Land Rover Guadalajara tienen el honor de invitarle a disfrutar una experiencia para todos sus sentidos... <a href="{{ _host }}jaguar-land-rover/save-the-date" id="go-news-jag-ldr-sibarita" class="continue-reading">Ver Más <i class="fa fa-long-arrow-right fa-fw fa-lg"></i></a></p>
                        </div>
                    </div>
                </li>

                <li class="grid-item post format-standard">
                    <div class="grid-item-inner">
                        <a id="go-news1-jag" class="media-box"><img src="{{ _host }}img/promo/XF_LEASING_600X400_GDL.jpg" alt="JAGUAR XF EN LEASING A 24 MESES" class="post-img"></a>
                        <div class="grid-content">
                            <div class="post-actions">
                                <div class="post-date">Julio 14, 2015</div>
                            </div>
                            <h3 class="post-title"><a id="go-news1-jag">El Jaguar de tus sueños por fin a tu alcance.</a></h3>
                            <p>JAGUAR XF CON BONO DE HASTA US $15,000 y 25% de descuento en accesorios... <a id="go-news1-jag" class="continue-reading">Ver Más <i class="fa fa-long-arrow-right fa-fw fa-lg"></i></a></p>
                        </div>
                    </div>
                </li>
                <li class="grid-item post format-standard">
                    <div class="grid-item-inner">
                        <a id="go-news-jag" class="media-box"><img src="{{ _host }}img/promo/GAMA_JAGUAR.jpg" alt="Gama Jaguar" class="post-img"></a>
                        <div class="grid-content">
                            <div class="post-actions">
                                <div class="post-date">Julio 01, 2015</div>
                            </div>
                            <h3 class="post-title"><a id="go-news-jag">Maestros de la innovación.</a></h3>
                            <p>Toda la gama Jaguar 2015, 24 Meses si intereses y 40% de enganche... <a id="go-news-jag" class="continue-reading">Ver Más <i class="fa fa-long-arrow-right fa-fw fa-lg"></i></a></p>
                        </div>
                    </div>
                </li>#}
            </ul>
        </div>
    </div>
</div>
