{% set url_banner = "img/sliders/" %}
<section class="hero-slider large-image fixed-header restrict-hero-height centered-text-slider">
	<ul class="slides">
		{#<li>
			<div class="background-image-holder">
				<img alt="Slide Background" class="background-image" src="{{ _host }}{{ url_banner }}banner_jaguar-servicio_1600x900.jpg">
			</div>

			<div class="container vertical-align">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h1 class="text-white">The best Jaguar driver is Mom!</h1>
						<div class="linkContainer">
	                        <span class="primaryLinkContainer">
	                        	<a class="primaryLinkWithStyle plwsLight TargetLinks umat scroll-in-site" id="scroll-contacto" href="#contacto">
	                        		<span>PREGUNTE A SU ASESOR</span>
	                    		</a>
	                		</span>
	                    </div>
					</div>
				</div>
			</div><!--end of container-->	
		</li>#}
		<li>
			<div class="background-image-holder overlay">
				<img alt="Slide Background" class="background-image" src="{{ _host }}{{ url_banner }}banner_Jaguar-perfeccion_1600x900.jpg">
			</div>
			<div class="container vertical-align">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h1 class="text-white uppercase">Paquete de servicio</h1>
						<h4 class="text-white uppercase">Por solo $1,100 más I.V.A.</h4>
						<div class="linkContainer">
	                        <span class="primaryLinkContainer">
	                        	<a class="primaryLinkWithStyle plwsLight TargetLinks umat scroll-in-site" id="scroll-contacto" href="#contacto">
	                        		<span>PREGUNTE A SU ASESOR</span>
	                    		</a>
	                		</span>
	                        <span class="secondaryLinkContainer">
	                        	<a data-modal-target="#get_promo_slide1" class="primaryLinkWithStyle plwsLight TargetLinks umat scroll-in-site modal-preview-info preview-info-get-promo-slide1" id="scroll-contacto">
	                        		<span>VER PROMOCIÓN</span>
	                    		</a>
	                        </span>
	                    </div>
					</div>
				</div>
			</div><!--end of container-->	
		</li>
		<li>
			<div class="background-image-holder overlay">
				<img alt="Slide Background" class="background-image" src="{{ _host }}{{ url_banner }}banner_Jaguar-garantia_1600x900.jpg">
			</div>
			<div class="container vertical-align">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h4 class="text-white uppercase">Contamos con extensión <br> de garantía hasta por 5 años</h4>
						<div class="linkContainer">
	                        <span class="primaryLinkContainer">
	                        	<a data-modal-target="#get_promo_slide3" class="primaryLinkWithStyle plwsLight TargetLinks umat scroll-in-site modal-preview-info preview-info-get-promo-slide3" id="scroll-contacto">
	                        		<span>VER PROMOCIÓN</span>
	                    		</a>
	                		</span>
	                        <span class="secondaryLinkContainer"></span>
	                    </div>
					</div>
				</div>
			</div><!--end of container-->	
		</li>
		<li>
			<div class="background-image-holder overlay">
				<img alt="Slide Background" class="background-image" src="{{ _host }}{{ url_banner }}banner_servicios_y_refacciones_1600x900.jpg">
			</div>
			<div class="container vertical-align">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h4 class="text-white uppercase">15% EN LLANTAS <br> Y 20% EN ACCESORIOS.</h4>
						<div class="linkContainer">
	                        <span class="primaryLinkContainer">
	                        	<a data-modal-target="#get_promo_slide2" class="primaryLinkWithStyle plwsLight TargetLinks umat scroll-in-site modal-preview-info preview-info-get-promo-slide2" id="scroll-contacto">
	                        		<span>VER PROMOCIÓN</span>
	                    		</a>
	                		</span>
	                        <span class="secondaryLinkContainer"></span>
	                    </div>
					</div>
				</div>
			</div><!--end of container-->	
		</li>
		<li>
			<div class="background-image-holder overlay">
				<img alt="Slide Background" class="background-image" src="{{ _host }}{{ url_banner }}promocion-taxi-JyLR.jpg">
			</div>
			<div class="container vertical-align">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h1 class="text-white uppercase">Le recordamos que al dejar su unidad en nuestro taller, le ofrecemos el servicio de taxi sin costo para usted<i class="fa fa-asterisk"></i>.</h1>
						<br>
						<h4 class="text-white uppercase"><i class="fa fa-asterisk"></i> Aplica dentro del área metropolitana de GDL</h4>
					</div>
				</div>
			</div><!--end of container-->	
		</li>
	</ul>
</section>
<section style="background: none; padding: 0; margin: 0; height: 0px;"></section>
<div id="get_promo_slide1" class="hidden">
	<span class="to-html">
		<img src="{{ _host }}{{ url_banner }}30x8-cms-Jaguar.jpg" alt=". . .">
	</span>
</div>
<div id="get_promo_slide2" class="hidden">
	<span class="to-html">
		<img src="{{ _host }}{{ url_banner }}promocion-inspeccion-Jaguar.jpg" alt=". . .">
	</span>
</div>
<div id="get_promo_slide3" class="hidden">
	<span class="to-html">
		<img src="{{ _host }}{{ url_banner }}promocion-garantia-Jaguar.jpg" alt=". . .">
	</span>
</div>