{#<div class="container">
	<div class="row">
		<div class="col-md-12 col-md-12">
			<div class="col-md-4 col-sm-4">
				<a id="return_index" class="clearfix" style="margin-top: 20px; padding: 25px;">
					<img class="logo" alt="logo" src="{{ _host }}img/logo/logo_jaguar.png">
				</a>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="row" style="padding-left: 75px; padding-right: 0px;">
					<h5 style="margin: 0 auto 5px;">Jaguar Guadalajara</h5>
					<p style="margin: 0 auto 5px 10px;">
						<i class="icon pe-7s-phone ico-foot"></i>
						<span class="phone">01 (33) 3818 - 7540</span>
						<br>
						<i class="icon pe-7s-map-marker ico-foot"></i>
						<span class="marker">Av. Vallarta No. 5500-A, Col. Vallarta Camichines, Zapopan, Jalisco, C.P. 45020</span>
					</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="row" style="padding-left: 75px; padding-right: 0px;">
					<h5 style="margin: 0 auto 5px;">Jaguar Country</h5>
					<p style="margin: 0 auto 5px 10px;">
						<i class="icon pe-7s-phone ico-foot"></i>
						<span class="phone">01 (33) 3818 - 7560</span>
						<br>
						<i class="icon pe-7s-map-marker ico-foot"></i>
						<span class="marker">Circ. Jorge Álvarez del Castillo No. 1443, Col. Jardines del Country, Guadalajara, Jal, C.P. 44610</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12 col-md-12">
			<div class="col-md-4 col-sm-4">
				<a href="http://landrovergdl.com.mx/" class="clearfix" style="margin-top: 20px; padding: 25px;" target="_blank" title="Jaugar">
					<img class="logo" alt="logo" src="{{ _host }}img/logo/logo-large-2x.png">
				</a>
			</div>
			<div class="col-md-4 col-sm-4">
				<a href="http://seminuevospremium.com.mx/" class="clearfix" style="margin-top: 20px; padding: 25px;" target="_blank" title="SEMINUEVOS">
					<img class="logo" alt="logo" src="{{ _host }}img/logo/logo_seminuevos.png" style="opacity: 0.5;">
				</a>
			</div>
			<div class="col-md-4 col-sm-4">
				<a href="http://eurocavsa.com.mx/" class="clearfix" style="margin-top: 20px; padding: 25px;" target="_blank" title="EUROCAVSA">
					<img class="logo" alt="logo" src="{{ _host }}img/logo/logo_eurocavsa.png" style="opacity: 0.5;">
				</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="footer-lower">
				<span class="foot-log" style="width: 100%; display: block;">
					<span class="copy">© {{ _anio }} Jaguar Guadalajara y Country, How Alive are you?.</span>
					<br>
					<a href="{{ _host }}aviso-de-privacidad">Aviso de Privacidad</a> |
					<a id="euc-schedule-test-drive">Prueba de manejo</a>
				</span>
				<ul class="social-links">
					<li><a href="http://www.facebook.com/JaguarGDLCountry" target="_blank"><i class="social_facebook"></i></a></li>
					<li><a href="https://twitter.com/JaguarCarsGDL" target="_blank"><i class="social_twitter"></i></a></li>
					<li><a href="https://www.youtube.com/channel/UCdRywhIb0Sc3diJ-4fuEypQ" target="_blank"><i class="social_youtube"></i></a></li>
					<li><a href="https://instagram.com/jaguarguadalajara/" target="_blank"><i class="social_instagram"></i></a></li>
					<li><div class="log-medigraf" style="margin-top: 0px;"><a href="http://www.clicktolead.mx/" target="_blank"><div class="medigraf"></div></a></div></li>
				</ul>
			</div>
		</div>
	</div><!--end of row-->

</div><!--end of container-->#}