{% set url_previews = "img/modelos/jaguar-xf/previews/" %}
{% set url_portfolio = "img/modelos/jaguar-xf/" %}
<section class="instagram-1" style="padding: 0px; height: 0px; background-color: #fff; clear: both;"></section>
<section class="image-block">
	<div class="image-holder col-md-6 col-sm-12 pull-right">
		<div class="background-image-holder overlay-light-gradient-slider">
			<img alt="Slide Background" class="background-image" src="{{ _host }}{{ url_previews }}JAG_PREV_XF_1440x960.jpg">
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-7">
				<div class="text-block">
					<div class="detail-line"></div>
					<h5 class="">JAGUAR</h5>
					<h4 class="primaryHeader">XF</h4>
					<p>
						Un vehículo elegante, dinámico, rompedor.  El XF fusiona el estilo de un deportivo con el lujo espectacular de una berlina. Su innovador diseño acumula ya más de un centenar de premios internacionales y ha marcado un antes y un después en el diseño automovilístico.
					</p>
				</div>
			</div>
		</div>{# end of row #}
	</div>{# end of container #}
</section>
<section class="team-2">
	{# end of row #}
	<div class="row">
		<div class="col-md-12">
			<h2 style="color: #000;">OTROS MODELOS</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-sm-6 team-member">
			<a class=" imageLink  TargetLinks" href="http://jaguar-mexico.com/mx/xf/models/luxury.php" target="_blank">
				<img alt="Contemporáneo, individual y diseñado por expertos." src="{{ _host }}{{ url_portfolio }}xf-luxury/JAG_MOD_XF_LUXURY_450x259.jpg?v=4" />
			</a>
			<h3>XF LUXURY</h3>
			<p></p>
		</div>

		<div class="col-md-4 col-sm-6 team-member">
			<a class=" imageLink  TargetLinks" href="http://jaguar-mexico.com/mx/xf/models/portfolio.php" target="_blank">
				<img alt="Materiales de mayor calidad y artesanía exquisita." src="{{ _host }}{{ url_portfolio }}xf-portfolio/JAG_MOD_XF_PORTFOLIO_450x259.jpg?v=4" />
			</a>
			<h3>XF PORTFOLIO</h3>
			<p></p>
		</div>

		<div class="col-md-4 col-sm-6 team-member">
			<a class=" imageLink  TargetLinks" href="http://jaguar-mexico.com/mx/xf/models/xfr.php" target="_blank">
				<img alt="Versión sobrealimentada del lujo deportivo de Jaguar." src="{{ _host }}{{ url_portfolio }}xfr/JAG_MOD_XFR_450x259.jpg?v=4" />
			</a>
			<h3>XFR</h3>
			<p></p>
		</div>
	</div>{# end of row #}
</section>
<section class="instagram-1" style="padding: 0px; height: 0px; background-color: #fff; clear: both;"></section>
<section class="dark-action" style="padding: 0px 0px 30px; height: auto;">
	{#<div class="container">#}
		<div class="row">
			<div class="col-md-3 text-center">
				<a class="primaryLinkWithStyle plwsTransparentLight TargetLinks col-md-12" style="display: inline-block; vertical-align: middle; font-size: 1.3em;" href="{{ _host }}files/jaguar-xf/catalogo-xf.pdf"{#} download="Catálogo-xf.pdf"#} target="_blank">
					<span style="max-width: 100%; font-size: 0.9em; display: block; text-transform: uppercase; font-family: 'font_name_landrover_light';">
						Descarga
					</span>
					CATÁLOGO
				</a>
			</div>
			<div class="col-md-3 text-center">
				<a class="primaryLinkWithStyle plwsTransparentLight TargetLinks col-md-12" style="display: inline-block; vertical-align: middle; font-size: 1.3em;" href="{{ _host }}files/jaguar-xf/FICHA_TECNICA_JAGUAR_XF_2016.pdf"{# download="Ficha-Técnica-xf.pdf"#} target="_blank">
					<span style="max-width: 100%; font-size: 0.9em; display: block; text-transform: uppercase; font-family: 'font_name_landrover_light';">
						Descarga
					</span>
					FICHA TECNICA
				</a>
			</div>
			<div class="col-md-3 text-center">
				<a class="primaryLinkWithStyle plwsTransparentLight TargetLinks col-md-12" style="display: inline-block; vertical-align: middle; font-size: 1.3em;" href="{{ _host }}agenda/prueba-de-manejo/xf" id="go-schedule-test-drive-xf" data-model-name="XF" data-model-key="xf">
					<span style="max-width: 100%; font-size: 0.9em; display: block; text-transform: uppercase; font-family: 'font_name_landrover_light';">
						Agendar
					</span>
					PRUEBA DE MANEJO
				</a>
			</div>
			<div class="col-md-3 text-center">
				<a class="primaryLinkWithStyle plwsTransparentLight TargetLinks col-md-12" style="display: inline-block; vertical-align: middle; font-size: 1.3em;" href="{{ _host }}financiamiento/xf" id="go-schedule-test-drive-xf" data-model-name="XF" data-model-key="xf">
					<span style="max-width: 100%; font-size: 0.9em; display: block; text-transform: uppercase; font-family: 'font_name_landrover_light';">
						Pide tu
					</span>
					COTIZACIÓN
				</a>
			</div>
		</div>{# end of row #}
	{#</div>{# end of container #}
</section>
